.cont{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}
.cont h1{
    width: 200px;
    margin-left: 50px;
    color: #e96518;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(5, 58, 59);
}
.cont .lh {
    display: flex;
    color: rgb(2, 134, 106);
    margin-left: 50px;
}
.cont h2{
    color: brown;
    text-align: center;
}
.cont #ema{
    color: crimson;
    font-size: 18px;
}
.cont img{
    max-width: 90%;
}

#lk-left{
    flex: 1;
    margin-right: 50px;
}
#lk-right{
    flex: 1;
    margin-left: 50px;
}
@media screen and (max-width: 1200px){
    .cont{
        font-size: calc(14px + 2 * ((100vw - 768px) / 598));
        margin: 0;
    }
}
@media screen and (max-width: 800px) {
    .cont .lh {
    display: inline-block;
    }
    #lk-left, #lk-right{
        margin: 0;
    }
}