.help{
    color: rgb(0, 46, 46);
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    padding-right: 100px;
    flex: 2.5
}
.sear {
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
}
.help input{
    border: 1px solid rgb(25, 114, 87);
    border-right: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 20px;
    padding: 6px;
}

#s-but{
    background-color: rgb(4, 155, 109);
    height: 29px;
    width: 25px;
    border-radius: 5px;
    margin: 0;
    padding-bottom: 3px;
    padding-top: 0;
    border: 1px solid rgb(25, 114, 87);
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.he-qa{
    display: flex;
}
.he-qa img{
    width: 100px;
    height: auto;
}
.he-qa a{
    font-size: 20px;
    padding: 10px;
    padding-top: 30px;
    color: rgb(17, 51, 49);
}
a:hover {
    color: crimson;
}
@media screen and (max-width: 1200px){
    .help{
        font-size: calc(14px + 2 * ((100vw - 768px) / 598));
        margin: 0;
        padding-left: 50px;
        padding-right: 10px;
    }
    .he-qa a{
        font-size: calc(16px + 2 * ((100vw - 768px) / 598));
    }
}
