.containerListData{
    width: 1237px;
    margin-left: 17.5%;
}

.HeaderListData {
    text-align: center;
}

.HeaderListData > div {
    margin: 25px;
}

.HeaderListData p {
    font-size: 40px;
    text-align: center;
    color: #01a690;
}

.HeaderListData button {
    height: 40px;
    width: 80px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    background-color: #01a690;
    color: white;
    cursor: pointer;
}

thead {
    background-color: rgb(218, 247, 236);;
}

table, td, th {
    border: 1px solid #01a690;
    border-collapse: collapse;
    font-size: 16px;
    padding: 10px 0px;
    text-align: center;
}

table {
    width: 100%;
}

td {
    font-weight: lighter;
}
