.a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 30px;
    display: block;
    flex: 4;
    color: rgb(1, 53, 44);
}
.a > p {
    text-align: justify;
    line-height: 1.5;
}
