.containerAreaMana{
    width: 1237px;
    padding:0px 20px;
}
.containerAreaMana > div{
    margin: 20px 0px;
}

.containerAreaMana h1 {
    color: #01a690;
    border:none;
}

.inforAreaMana {
    display: flex;
    justify-content: space-around;
}

.inforAreaMana > div {
    border: 1px solid #01a690;
    width: 150px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.inforAreaMana h3 {
    color: rgb(8, 141, 158);
}


.HeaderAreaMana {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.HeaderAreaMana input, button {
    height: 30px;
    padding: 5px;
    border: 1px solid #01a690;
    font-weight: lighter;
    margin:10px;
    border-radius: 5px;
    font-size: 17px;

}

.HeaderAreaMana input {
    width: 300px;
    outline: none;
}

.HeaderAreaMana button {
    width: 150px;
    background-color: #01a690;
    color: white;
    cursor: pointer;
}