.containerLookUp{
    width: 1237px;
}

.HeaderLookUp {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.HeaderLookUp input, button {
    height: 30px;
    padding: 5px;
    border: 1px solid #01a690;
    font-weight: lighter;
    margin:10px;
    border-radius: 5px;
    font-size: 17px;

}

.HeaderLookUp input {
    width: 300px;
    outline: none;
}

.HeaderLookUp button {
    width: 150px;
    background-color: #01a690;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .HeaderLookUp input{
        width: calc(250px + 2 * ((100vw - 768px) / 598));
        font-size: calc(15px + 2 * ((100vw - 768px) / 598));
    }
    .HeaderLookUp button{
        width: calc(125px + 2 * ((100vw - 768px) / 598));
        font-size: calc(15px + 2 * ((100vw - 768px) / 598));
    }
}