
.top {
    height: 115px;
    display: flex;
    align-items: center;
}

.top > div {
    margin-left: 15px;
}

.login > button {
    height: 30px;
    width: 110px;
    border-radius: 20px;
    font-size: 1em;
    margin: 5px;
}

.top > .login {
    margin-left: 700px;
}

#log {
    border: solid 2px #01a690;
    background-color: transparent;
    color: #01a690;
}

#sign {
    background-color: #01a690;
    border: solid 2px #01a690;
    color: white;
}

#nameWeb {
    font-size: 3.2em;
    color: #01a690;
}

#desWeb {
    font-size: 0.8em;
    color: #084946;
}

#logo {
    margin-left: 100px;
    height: 80%;
}
.menu {
    height: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(130,198,174,1) 0%, rgba(2,169,172,1) 100%);
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menuList {
    margin-left: 50px;
    list-style: none;
    display: flex;
}

.menuListItem {
    margin: 10px 25px;
    cursor: pointer;
}

.search {
    margin-left: 570px;
    border-bottom: 1px solid white;
    padding: 5px 0px;
}

.menu input {
    border: none;
    padding-left: 5px;
    background-color: transparent;
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.menu i {
    padding-right: 15px;
}
