.intr{
    color: rgb(0, 46, 46);
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    padding-right: 100px;
    flex: 2.5;

}
.cont > div{
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: justify;
    line-height: 3;
}

.intr h3 {
    color: rgb(173, 13, 39);
}
#tit {
    font-style: italic;
    color: rgb(0, 146, 85);
    font-size: 17px;
}
@media screen and (max-width: 1200px){
    .intr{
        font-size: calc(14px + 2 * ((100vw - 768px) / 598));
        margin: 0;
        padding-left: 50px;
        padding-right: 10px;
    }
    #tit{
        font-size: calc(16px + 2 * ((100vw - 768px) / 598));
    }
}
